{% extends "home/header.html" %}
{% load static %}
{% block content %}
<section>
<!-- stylesheets -->
	<link rel="stylesheet" href="{%static 'login/css/style1.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" />
	<link rel="stylesheet" href="{%static 'login/css/bootstrap-datetimepicker.min.css' %}">
	<!-- google fonts  -->
	<link href="//fonts.googleapis.com/css?family=Alegreya+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">

	<div class="w3ls-banner" style="background-image :url({%static 'login/images/bg-01.jpg' %}) ">
	<div class="heading">
		<h1>Sign Up!</h1>
	</div>
		<div class="container1">
			<div class="heading">
				<h2>Please Enter Your Details</h2>

			</div>
			<div class="agile-form">
				<form method="post">

				{% csrf_token %}
    			{{ form.as_p }}
					<div class="submit_btn">
    <input type="submit" value="Submit" />
						</div>
				</form>
			</div>
		</div>
	</div>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
	<script src="{%static 'login/js/bootstrap-datetimepicker.min.js' %}"></script>
	<script type="text/javascript">
            $(function () {
                 $('#datetimepicker1').datepicker({
                     autoclose: true,
        todayHighlight: true,
    format: 'yyyy-mm-dd'});
            });

            function validatePassword(){
            var pass1 = document.getElementById("p").value;
    var pass2 = document.getElementById("cp").value;
            var ok=true;
            if (pass1!== pass2) {
               alert("Passwords Don't Match");

               ok=false;
             }
         return ok;
     }
            </script>

	 </section>
{% endblock %}